/ %p#notice= notice
/ = link_to 'Back', users_path

.col-xs-8#users-content

	= render partial: "users/header"
	.list-group
		- if @user.tweets.empty?
			.list-group-item
				まだツイートはありません
		= render partial: "users/tweet", colloction: @user.tweets