%h1 Listing user_s

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @user_s.each do |user_|
      %tr
        %td= link_to 'Show', user_
        %td= link_to 'Edit', edit_user__path(user_)
        %td= link_to 'Destroy', user_, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New User ', new_user__path
